@font-face {
	font-family: 'partytime';
	src:url('../fonts/partytime.eot?-72qo0');
	src:url('../fonts/partytime.eot?#iefix-72qo0') format('embedded-opentype'),
		url('../fonts/partytime.woff?-72qo0') format('woff'),
		url('../fonts/partytime.ttf?-72qo0') format('truetype'),
		url('../fonts/partytime.svg?-72qo0#partytime') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'partytime';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-search:before {
	content: "\e600";
}
.icon-menu:before {
	content: "\e601";
}
.icon-googleplus:before {
	content: "\e602";
}
.icon-facebook:before {
	content: "\e603";
}
.icon-twitter:before {
	content: "\e604";
}
.icon-arrow-left:before {
	content: "\e605";
}
.icon-arrow-right:before {
	content: "\e606";
}

