
@media only screen and (min-width: 560px)
	.wrapper
		padding 1em
	/*.logo 
		float left*/
		
	.search
		float none
		margin 0 auto

	.cloud
		display block
	
	#btn_mobile
		display none

	.menu
		display block !important
		margin 20px auto 1px
		position relative
		
		//width 20em
		
		li 
			display inline-block
			vertical-align top
			margin-right 5px

			
		.nav-child
		.submenu 
			display none
			position absolute
		.parent
			border-radius 5px 5px 0 0
			box-shadow 1px 0px 1px rgba(0,0,0,.5)
			&:hover
				.nav-child
				.submenu
					display block
					z-index: 100
					

		
		.active
			.nav-child
			.submenu
				opacity 1	
				display block

	.categories-list
		&>div
			display inline-block
	.span3
		display inline-block
		vertical-align top
		margin .5em
		width 12em		
	.category
		display inline-block
		margin .5em
		width 12em
		
		&:hover
			animation-duration 1s
			animation-fill-mode both
			animation-name swing
		
	.slider
		display block
	.ubicacion
		display block
		width 32%

	.map
		display none
	.actions
		font-size 1.5em
		top 50%

@media only screen and (min-width: 1000px)
	header
	.wrapper
		width 1000px
		margin 0 auto
	
	.logo
		width 200px
		margin 0 
		//float left
		//clearfix()
	.redes
		float right
		position absolute
		right 0
		top 10px

	.search
		float right
		position absolute
		right 4%
		top 80%
		width 30%

	.categories
		text-align left

	.span3	
	.category
		width 13em

	.globos
		display block
	.cloud
		width 287px
		height 193px
		top 3%
		left 60%
		animation floating 10s infinite alternate
		
		.info
			display block
			position relative
			top 70px
			left 0px
			font-size 1.2em
			font-family: 'Chewy', cursive;
			color fusia
			text-align center
	.ubicacion
		width 600px
	.map
		display block

	
		
		
		

	    
	        


	